.btn_black-brdr {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(52%, #fff), color-stop(48%, #232323)) left top/100% 200% no-repeat;
	background: -webkit-linear-gradient(bottom, #fff 52%, #232323 48%) left top/100% 200% no-repeat;
	background: -o-linear-gradient(bottom, #fff 52%, #232323 48%) left top/100% 200% no-repeat;
	background: linear-gradient(to top, #fff 52%, #232323 48%) left top/100% 200% no-repeat;
	color: #fff;
	border: 1px solid #fff;
}

.btn_white-brdr {
	color: #232323;
	border: 1px solid #ebebeb;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(52%, #232323), color-stop(48%, #fff)) left top/100% 200% no-repeat;
	background: -webkit-linear-gradient(bottom, #232323 52%, #fff 48%) left top/100% 200% no-repeat;
	background: -o-linear-gradient(bottom, #232323 52%, #fff 48%) left top/100% 200% no-repeat;
	background: linear-gradient(to top, #232323 52%, #fff 48%) left top/100% 200% no-repeat;
}

.btn_white-brdr:active,
.btn_white-brdr:hover {
	color: #fff;
	background-position: left bottom;
}

.btn_black-brdr,
.btn_white-brdr {
	-webkit-transition-property: background-position, color;
	-o-transition-property: background-position, color;
	transition-property: background-position, color;
	-webkit-transition-timing-function: ease-in-out, ease-in;
	-o-transition-timing-function: ease-in-out, ease-in;
	transition-timing-function: ease-in-out, ease-in;
	-webkit-transition-duration: .3s, .3s;
	-o-transition-duration: .3s, .3s;
	transition-duration: .3s, .3s;
}


.ba-header {
	// height: 100vh;

	&-top .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
	}

	&-top {
		background-color: $secondaryColor;
		height: 2em;
		display: flex;
		align-items: center;

		&-contacts {
			color: #fff;

			&__phone {}

			&__link {
				padding-left: 10px;
				color: inherit;
				text-decoration: none;
			}

		}

		&-user {
			color: black;
			display: flex;
			justify-content: space-between;
		}

		.ba-search {
			&-form {

				// position: fixed;
				// top: 0;
				// left: 0;
				// width: 100%;
				// transform: translateY(-100%);
				// padding: .5rem 1rem;
				// background-color: #fff;
				// box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
				// display: flex;
				// transform: transform .3s;
				display: flex;

				&__input {
					display: none;

					@media screen and (min-width:768px) {
						display: flex;
					}
				}


				// больше чем 992px
				// @media screen and (min-width:992px) {
				// 	position: static;
				// 	width: auto;
				// 	padding: 0;
				// 	transform: none;
				// 	box-shadow: none;
				// }

				// &.open {
				// 	// transform: translateY(147px);
				// 	position: absolute;
				// 	top: 100%;
				// 	transform: translateY(0);
				// }
			}
		}

	}

	&-main {
		.mobile-menu-btn {
			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		&-logo {
			display: flex;
			align-items: center;
			justify-content: center;

			@media screen and (min-width: 768px) {
				justify-content: flex-start;
			}

			& img {
				width: 6rem;
			}
		}

		&-wrapper {
			flex-wrap: wrap;

			display: flex;
			justify-content: space-between;
			align-items: center;

			@media screen and (min-width: 768px) {
				flex-wrap: nowrap;
			}
		}

		&-nav {
			// display: none;
			width: 100%;
			order: 3;
			// background-color: $primaryColor;
			// flex-wrap: wrap;


			// больше чем 768px
			@media screen and (min-width: 768px) {
				display: flex;
				order: 0;
			}

			.ba-menu {
				display: none;
				margin: 0;

				&--active {
					display: block;
				}

				position: relative;
				padding: 0;

				// &:before {
				// 	content: 'MENU';
				// 	color: #000;
				// 	// font-family: fontawesome;
				// 	font-weight: bold;
				// 	display: block;
				// 	position: absolute;
				// 	left: 0;
				// 	top: 0;
				// }

				// &:after {
				// 	content: '\f078';
				// 	color: #000;
				// 	font-family: fontawesome;
				// 	font-weight: "400";
				// 	display: block;
				// 	position: absolute;
				// 	right: 0;
				// 	top: 0;
				// }

				@media screen and (min-width: 768px) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					list-style: none;
					width: 100%;
				}

				&-item {
					display: flex;
					justify-content: flex-start;

					@media screen and (min-width: 768px) {
						padding: 10px 15px;
						display: flex;
						justify-content: space-between;
						align-items: center;

					}

					& a {
						padding: 5px;


						@media screen and (min-width: 768px) {
							padding: 10px 15px;

						}

					}



					&:not(:first-child) {
						// padding-right: 4.125em;
						// padding-left: 60px;
					}


				}

				&__link {
					font-weight: 900;
					color: $secondaryColor;
					text-decoration: none;
					position: relative;

					&:hover {
						background-color: $primaryColor;
						// border-bottom: solid 2px $primaryColor;
					}



					// &:after {
					// 	content: '\f078';
					// 	color: #000;
					// 	font-family: fontawesome;
					// 	font-weight: "400";
					// 	display: block;
					// 	position: absolute;
					// 	right: -13px;
					// 	top: 0;
					// }

					// &:hover::after {
					// 	content: '\f077';
					// 	color: #000;
					// 	background-color: $primaryColor;
					// 	font-family: fontawesome;
					// 	font-weight: "400";
					// 	display: block;
					// 	position: absolute;
					// 	right: -13px;
					// }


				}
			}

		}


	}
}



.shopping {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;

	// width: 100%;
	& img {
		width: 2rem;
	}

	&-favorites {
		position: relative;

		& :hover {
			// transition: .7s;
			// transform: scale(1.2);
		}

	}

	&-cart {
		position: relative;

		& :hover {
			// transition: .7s;
			// transform: scale(1.2);
		}
	}

	&-counter {
		position: absolute;
		right: -10px;
		height: 16px;
		border-radius: 8px;
		padding: 0 8px;
		background-color: $primaryColor;
		color: #fff;
		font-size: 12px;
		line-height: 16px;
	}
}

// .menu-small {
// 	display: block;
// 	background-color: $primaryColor;

// 	@media screen and (min-width: 768px) {
// 		display: none;
// 	}

// }

.ba-slider1 {
	display: flex;
	// margin-right: auto;
	// margin-left: auto;


	img {
		width: 100%;
	}
}

.ba-slider2 {}


.breadcrumbs {
	display: flex;
	border-top: solid 1px $secondaryColor;
	border-bottom: solid 1px $secondaryColor;

	&-nav {
		display: flex;
		list-style: none;

		margin: 0.1rem;

		@media screen and (min-width:768px) {
			margin: 1rem;

		}

		&-item a {
			text-decoration: none;
			color: $secondaryColor;
		}
	}
}

.category {
	&-list {
		list-style: none;

		a {
			text-decoration: none;
			color: $secondaryColor;
		}
	}
}

.subscribe {
	display: flex;
	background-color: #ededed;
	color: #6c6c6c;

	&-mail {
		display: flex;
		justify-content: center;

		&__input {
			width: 100%;
		}

		& span {
			display: none;

			@media screen and (min-width: 768px) {
				display: flex;
				align-items: center;
			}
		}
	}

	.ba-social {
		display: flex;
		justify-content: flex-end;

		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}


		&__items {
			color: #6c6c6c;
			padding: 1rem;

			&:hover {
				background-color: $primaryColor;
			}
		}
	}

}

.subscribe .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media screen and (min-width: 768px) {
		flex-wrap: nowrap;
	}

}



// меню на второй странице
.goods-woman-wrapper {
	display: flex;
}

// обертка товаров
.goods-wrapper {
	display: flex;
	justify-content: space-between;
	// background: #fd926d;
	margin: 25px auto 0;
	padding-bottom: 10px;

	// cursor: pointer;
}

// карточка
.card {
	background-color: #f7f7f7;
	position: relative;
	border-bottom: 3px solid transparent;

	@media screen and (min-width: 768px) {
		width: auto;
	}

	&-img-wrapper {
		cursor: pointer;

		& img {
			width: 100%;
		}
	}

	&-add-wishlist {
		position: absolute;
		right: 0;
		background: transparent;
		border: 0;
		opacity: 0;
		top: 10px;

		// &-heart {}

		&-heart:hover {
			color: $primaryColor;
		}
	}

	&-body {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		&-brand {
			color: $secondaryColor;
			font-weight: 900;
			text-transform: capitalize;
		}

		&-title {
			text-decoration: none;
			color: $secondaryColor;
		}

		&-price {
			color: $secondaryColor;

		}
	}

	&-add-cart {
		// display: none;
		justify-content: center;
		align-items: center;
		opacity: 1;
	}

	&:hover {
		transform: scale(1.03);
		transition: .7s;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	&:hover .card-add-wishlist {
		transition: .7s;
		opacity: 1;
		// animation: show 0.5s ease-in-out;
	}

	&:hover .card-add-cart {
		transition: .7s;
		opacity: 1;
		display: flex;

	}
}

.active {
	opacity: 1;
	color: $primaryColor;
}



.ba-baners {
	// padding: 0 15px;
	display: none;
	overflow: hidden;

	@media screen and (min-width:768px) {
		display: block;
	}

	&-row {
		padding: 0;
		margin: 0;
	}

	& img {
		width: 100%;
	}


}


.ba-brands .container {
	display: none;

	@media screen and (min-width:768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}

.ba-footer {
	background-color: $secondaryColor;

	// display: none;
	& .container {
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

// корзина скрытая
.cart {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000050;
	z-index: 130;

	&-body {
		position: relative;
		margin: auto;
		width: 1024px;
		min-height: 200px;
		max-height: 80vh;
		background-color: #fff;
		padding: 25px;
		overflow: auto;
		border-radius: 3px;
	}

	&-title {
		font-size: 28px;
		color: #4d5f71;

	}

	&-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 25px 0;
		background-color: #f2f2f2;
		border: 1px solid #4d5f713f;
		border-radius: 3px;
		padding: 20px;

		#cart-empty {
			font-size: 24px;
			color: #4d5f71
		}

	}

	&-head {
		display: flex;
		justify-content: space-between;

	}

	&-close {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
		height: 25px;
		width: 25px;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='005bff' d='M12 10.587l6.293-6.294a1 1 0 111.414 1.414l-6.293 6.295 6.293 6.294a1 1 0 11-1.414 1.414L12 13.416 5.707 19.71a1 1 0 01-1.414-1.414l6.293-6.294-6.293-6.295a1 1 0 011.414-1.414L12 10.587z'/%3E%3C/svg%3E");

		&:hover {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
		}
	}

	&-total {
		font-size: 28px;

		span {
			color: #077c24;
		}
	}

	&-confirm {
		display: block;
		margin-left: auto;
	}

	.goods {
		display: flex;
		width: 100%;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 8px;
		margin-bottom: 10px;

		&-img {
			max-width: 120px;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;

			&-wrapper {
				flex-basis: 120px;
			}
		}

		&-description {
			padding: 10px;
			flex-grow: 1;
		}

		&-title {
			font-size: 16px;
		}

		&-price-count {
			padding-right: 10px;
		}

		&-trigger {
			display: flex;
			justify-content: center;
		}

		&-add-wishlist {
			width: 32px;
			height: 32px;
			background-color: transparent;
			// background-image: url(../img/icons.png);
			background-position: 4px -2589px;
			border-radius: 50%;
			text-align: center;
			line-height: 32px;
			border: none;

			&.active {
				background-position: 4px -2633px;
			}
		}

		&-delete {
			width: 32px;
			height: 32px;
			background-color: transparent;
			// background-image: url(../img/icons.png);
			background-position: 8px -1865px;
			border-radius: 50%;
			text-align: center;
			line-height: 32px;
			border: none;
		}

		&-count {
			display: flex;
			justify-content: center;
		}

		&-count-total {
			width: 32px;
		}
	}
}

.map-section .container {
	display: flex;
}

.ba-section6-map {
	height: 600px;
	// width: 700px;
}


.btn {
	text-decoration: none;
	background: $primaryColor;
	color: #fff;
	// min-width: 100px;
	padding: 0 1em;
	border: none;

	&:hover {
		@include buttonHover;
	}
}

// loader
.loader-four {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	margin: 20px 0
}

.loader-four__preloader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370DB;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.loader-four__preloader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #BA55D3;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

.loader-four__preloader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #FF00FF;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}