@font-face {
    font-family: HelveticaL;
    src: url(../fonts/HelveticaLTStd-Light.otf)
}

.container {
    max-width: 970px
}

.xs_gray {
    background-color: #fafafa;
    color: #999;
    font-size: 125%;
    padding: 24px 0 20px;
    text-align: center
}

.header_black {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 80%
}

.header_black p {
    margin-top: 9px
}

.header_black .btn {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    height: 35px;
    background-image: none;
    border-top: 0;
    border-bottom: 0;
    border-color: #867a76
}

.currency {
    border-left: 1px solid #d9d9d9;
    height: 35px
}

.currency .dropdown-menu {
    min-width: 67px
}

.currency .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #000 !important;
    background-image: none;
    color: #fff
}

.form {
    width: 260px
}

.search {
    width: 20px
}

.search,
.form {
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-bottom: none;
    border-top: none;
    height: 35px;
    padding: 0 5px 0 35px;
    background: url("../images/search.png") no-repeat 5px 2px
}

.menu {
    margin: 21px -15px
}

.menu .nav {
    margin: 15px 0;
    font-size: 120%
}

.nav-pills>li>a {
    border-radius: 0;
    color: #000;
}

.menu .nav .active,
.menu .nav>li>a:hover,
.nav>li>a:focus,
.dropdown-menu .active,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #fd926d !important;
    background-image: none;
    color: #000
}

.menu_small {
    height: 48px
}

.menu_small p {
    width: 100px;
    text-transform: uppercase;
    font-size: 130%;
    color: #fff;
    margin: 13px 18px;
    display: inline-block
}

.menu_small,
.menu_small .btn {
    background: #fd926d
}

.menu_small .btn {
    padding: 11px 15px 5px 15px;
    font-size: 160%
}

ul#menu {
    display: none;
    padding: 0;
    margin: 0;
    background: #fd926d;
    list-style: none
}

#menu>li>a {
    display: block;
    padding: 10px 18px;
    color: #fff;
    font-size: 120%;
    text-transform: none
}

#menu li .active,
#menu li>a:hover {
    background: #f4845d
}

.basket {
    border: 1px solid #d6d6d6;
    height: 33px;
    padding: 4px 12px
}

.basket>img {
    width: 25px;
    height: auto
}

.basket .caret {
    margin-top: 8px
}

.basket:last-child {
    border-top: none;
    background: #fafafa
}

.exclusive>.col-sm-12,
.col-md-12 {
    padding: 0
}

#carousel {
    margin-top: 20px
}

#carousel .carousel-control {
    background: #fff;
    width: 30px;
    height: 117px;
    top: 36%;
    opacity: .9;
    text-shadow: none
}

#carousel .carousel-control .glyphicon {
    color: #cbcbca
}

#carousel .carousel-indicators {
    bottom: -67px
}

#carousel .carousel-indicators li {
    background-color: #867a76;
    margin: 10px
}

#carousel .carousel-indicators .active {
    background-color: #fd926d;
    width: 10px;
    height: 10px;
    margin: 10px
}

#carousel .carousel-inner>.item>img {
    width: 100%
}

.btn,
.btn:hover,
.btn:active:hover,
.btn:focus {
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    color: #fff;
    font-family: HelveticaL
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus {
    border-bottom: 3px solid #dd6b44;
    background-color: #fd926d;
    background-image: none
}

.btn-carousel {
    margin: -21% 0 0 24%;
    font-size: 115%;
    padding: 1%
}

.btn-carousel,
.btn-content {
    position: relative;
    z-index: 10
}

.block_socicon {
    background-color: #ededed;
    margin: 75px 0 40px;
    font: 85% Arial
}

.block_socicon,
.block_socicon a {
    color: #6b6b6b
}

.block_socicon a.active,
.block_socicon a:hover {
    color: #fd926d
}

.block_socicon p {
    float: left;
    margin: 20px 10px
}

.block_socicon .hidden-xs p {
    margin: 20px -3px
}

.block_socicon a {
    display: inline-block;
    width: 55px;
    height: 55px;
    padding: 15px;
    font-size: 200%;
    margin: 0 -2px
}

.block_socicon .grey {
    background-color: #f7f7f7
}

.input-group {
    margin: 10px 0
}

.form-control {
    font-size: 85%;
    height: 35px
}

.btn-content {
    background: #4fafa0;
    margin-top: -10%;
    margin-left: 75.5%;
    font-size: 85%
}

#gallery {
    margin: 100px 0 25px;
    position: relative;
    background: #fd926d
}

#gallery .indicators-md {
    position: absolute;
    list-style: none;
    bottom: 477px;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto
}

#gallery .indicators-md li {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 19px;
    margin: -2px;
    text-indent: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: #fff;
    font-size: 120%;
    text-transform: uppercase;
    color: #555
}

#gallery .indicators-md .active,
#gallery .control.active {
    background-color: #fd926d;
    color: #fff
}

#gallery .control {
    width: 61px;
    height: 61px;
    position: absolute;
    background-color: #f2f2f2;
    color: #555;
    font-size: 150%;
    padding: 2%;
    cursor: pointer
}

.control.left {
    right: 61px;
    top: -61px
}

.control.right {
    right: 0;
    top: -61px
}

#gallery .inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1500px;
    height: 477px;
    margin: 0 auto
}

#gallery .item {
    width: 9999px;
    height: 477px;
    background: #fd926d;
    position: absolute;
    display: none
}

#gallery .item.active {
    display: block
}

#gallery .sale {
    width: 220px;
    height: 417px;
    float: left;
    margin: 30px 15px;
    position: relative
}

#gallery .sale:hover {
    width: 242px;
    height: 447px;
    margin: 15px 4px
}

#gallery .sale:hover::after {
    content: "";
    display: block;
    background: url('../images/icon.png') 55px 100px no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 242px;
    height: 437px
}

.sale {
    background: #f7f7f7;
    margin: 25px auto 0;
    padding-bottom: 10px;
    cursor: pointer
}

.sale .btn-primary {
    margin: 0 auto;
    display: block;
    width: 120px
}

.sale p {
    color: #000;
    margin-top: 11px;
    text-align: center;
    text-transform: uppercase
}

.price {
    font-size: 155%
}

.mark_sale::before {
    content: "";
    display: block;
    position: absolute;
    margin: 0;
    background: url(../images/sale.png) no-repeat;
    width: 50px;
    height: 50px
}

.brands {
    margin-top: 60px
}

.brands p {
    font: bold 110% arial;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: -50px;
    background: #fff;
    padding: 20px
}

.brands ul>li {
    float: left;
    margin: 13px 11px 19px;
    list-style: none
}

.brands ul>li:first-child {
    margin-left: 0
}

.brands ul>li:last-child {
    margin-right: 0
}

.about {
    text-align: center;
    margin: 10px 0 30px
}

.about h3,
.brands,
.h4 {
    color: #414141
}

.h4 {
    font-weight: bold
}

.footer_grey {
    font-size: 85%;
    background: #ededed;
    padding: 33px 0
}

.footer_grey .col-sm-6 {
    min-height: 100px
}

.footer_grey ul {
    list-style: none;
    padding: 0
}

.footer_grey a {
    color: #8c8a89
}

.footer_soc {
    width: 150px;
    margin-right: 110px
}

.footer_soc a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #4c4c4b;
    color: #fff;
    margin: 5px;
    font-size: 150%;
    padding: 7px
}

.footer_grey img {
    margin-top: 26px
}

.footer_black {
    background: #000;
    font-size: 80%;
    height: 75px;
    padding: 25px 0
}

.footer_black p {
    margin: 0;
    text-align: right
}

.footer_black li {
    float: left;
    margin-top: 10px
}

.footer_black .nav>li>a {
    display: block;
    border-left: 1px solid #737373;
    padding: 0 10px;
    color: #737373
}

.footer_black .nav>li:first-child a {
    border-left: none
}

.footer_black .nav>li>a:hover,
.footer_black .nav>li>a:focus {
    background: #000;
    text-decoration: underline
}

.footer_grey li>a:hover {
    text-decoration: underline
}

@media screen and (max-width:767px) {
    body {
        font-size: 24px
    }

    .container,
    .container-fluid,
    .footer_black,
    .header_black,
    .block_socicon {
        min-width: 640px
    }

    .header_black,
    .header_black .currency,
    .header_black input,
    .header_black .btn,
    .menu_small,
    .input-group>input {
        height: 96px
    }

    .header_black .form {
        padding: 0 15px 0 79px;
        background: url(../images/small/search.png) no-repeat 14px 17px
    }

    .header_black .currency .btn {
        font-size: 125%;
        padding: 30px 12px
    }

    .currency .dropdown-menu,
    .basket {
        min-width: 96px;
        font-size: 125%
    }

    .menu img {
        margin: 0 auto
    }

    div.basket:last-child {
        border-top: 1px solid #d6d6d6;
        height: 96px;
        padding: 26px;
        font-size: 125%
    }

    div.basket:last-child>img {
        width: 60px;
        height: auto
    }

    .menu_small p {
        margin: 26px 18px
    }

    .menu_small .btn,
    .footer_black .btn {
        font-size: 230%
    }

    .footer_black .btn {
        background: #000
    }

    .menu_small .dropdown-menu li,
    .footer_black .dropdown-menu li {
        width: 300px;
        font-size: 170%
    }

    .footer_black .dropdown-menu>li>a:hover {
        background: #000 !important;
        color: #fff
    }

    .block_socicon {
        background: none
    }

    .input-group>input {
        font-size: 125%;
        background: #ededed;
        padding: 20px
    }

    .block_socicon .btn.btn-primary {
        height: 96px;
        width: 96px;
        border-bottom: 8px solid #dd6b44
    }

    .block_socicon .btn.btn-primary>span {
        font-size: 300%
    }

    .block_socicon .col-xs-12+.col-xs-12>.pull-right {
        height: 88px;
        width: 497px;
        float: none !important;
        margin: 25px auto;
        font-size: 125%
    }

    .block_socicon p {
        margin: 30px 38px
    }

    .block_socicon .col-xs-12+.col-xs-12>.pull-right a {
        width: 88px;
        height: 88px;
        padding: 23px;
        font-size: 166%;
        margin: 0 -4px;
        background: #ededed
    }

    #gallery {
        margin: 25px 0
    }

    #gallery>button {
        background: transparent;
        position: absolute;
        z-index: 10;
        right: 0;
        width: 87px;
        height: 86px;
        font-size: 120%
    }

    #gallery .indicators-xs {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0
    }

    #gallery .indicators-xs li {
        display: block;
        height: 88px;
        background: #f4845d;
        color: #fff;
        padding: 25px;
        margin: -1px 0
    }

    #gallery .indicators-xs li.active {
        background: #fd926d
    }

    #gallery .inner,
    #gallery .item {
        height: 550px
    }

    #gallery .inner {
        width: 608px
    }

    #gallery .sale,
    #gallery .sale:hover {
        width: 274px;
        height: 489px;
        margin: 30px 15px
    }

    #gallery .sale:hover::after {
        content: none
    }

    .sale {
        max-width: 274px;
        font-size: 60%
    }

    .my_btn input {
        background: url(../images/small/btn.png) no-repeat;
        height: 68px;
        width: 220px;
        border: none;
        margin: 0 27px
    }

    .btn.black {
        background: #000;
        width: 220px;
        height: 60px;
        font-size: 85%;
        margin: 30px auto 36px;
        display: block
    }

    .footer_black {
        height: 108px;
        margin-top: 25px
    }
}