* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.look-row {
  display: flex;
  flex-wrap: wrap; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

@media screen and (min-width: 576px) {
  .ba-col-sm-12 {
    width: 100%; }
  .ba-col-sm-11 {
    width: 96.66%; }
  .ba-col-sm-10 {
    width: 83.3%; }
  .ba-col-sm-9 {
    width: 74.97%; }
  .ba-col-sm-8 {
    width: 66.62%; }
  .ba-col-sm-7 {
    width: 58.3%; }
  .ba-col-sm-6 {
    width: 50%; }
  .ba-col-sm-5 {
    width: 41.65%; }
  .ba-col-sm-4 {
    width: 33.3%; }
  .ba-col-sm-3 {
    width: 24.98%; }
  .ba-col-sm-2 {
    width: 16.66%; }
  .ba-col-sm-1 {
    width: 8.33%; } }

@media screen and (min-width: 768px) {
  .ba-col-md-12 {
    width: 100%; }
  .ba-col-md-11 {
    width: 96.66%; }
  .ba-col-md-10 {
    width: 83.3%; }
  .ba-col-md-9 {
    width: 74.97%; }
  .ba-col-md-8 {
    width: 66.62%; }
  .ba-col-md-7 {
    width: 58.3%; }
  .ba-col-md-6 {
    width: 50%; }
  .ba-col-md-5 {
    width: 41.65%; }
  .ba-col-md-4 {
    width: 33.3%; }
  .ba-col-md-3 {
    width: 24.98%; }
  .ba-col-md-2 {
    width: 16.66%; }
  .ba-col-md-1 {
    width: 8.33%; } }

@media screen and (min-width: 992px) {
  .ba-col-lg-12 {
    width: 100%; }
  .ba-col-lg-11 {
    width: 96.66%; }
  .ba-col-lg-10 {
    width: 83.3%; }
  .ba-col-lg-9 {
    width: 74.97%; }
  .ba-col-lg-8 {
    width: 66.62%; }
  .ba-col-lg-7 {
    width: 58.3%; }
  .ba-col-lg-6 {
    width: 50%; }
  .ba-col-lg-5 {
    width: 41.65%; }
  .ba-col-lg-4 {
    width: 33.3%; }
  .ba-col-lg-3 {
    width: 24.98%; }
  .ba-col-lg-2 {
    width: 16.66%; }
  .ba-col-lg-1 {
    width: 8.33%; } }

.btn_black-brdr {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(52%, #fff), color-stop(48%, #232323)) left top/100% 200% no-repeat;
  background: -webkit-linear-gradient(bottom, #fff 52%, #232323 48%) left top/100% 200% no-repeat;
  background: -o-linear-gradient(bottom, #fff 52%, #232323 48%) left top/100% 200% no-repeat;
  background: linear-gradient(to top, #fff 52%, #232323 48%) left top/100% 200% no-repeat;
  color: #fff;
  border: 1px solid #fff; }

.btn_white-brdr {
  color: #232323;
  border: 1px solid #ebebeb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(52%, #232323), color-stop(48%, #fff)) left top/100% 200% no-repeat;
  background: -webkit-linear-gradient(bottom, #232323 52%, #fff 48%) left top/100% 200% no-repeat;
  background: -o-linear-gradient(bottom, #232323 52%, #fff 48%) left top/100% 200% no-repeat;
  background: linear-gradient(to top, #232323 52%, #fff 48%) left top/100% 200% no-repeat; }

.btn_white-brdr:active,
.btn_white-brdr:hover {
  color: #fff;
  background-position: left bottom; }

.btn_black-brdr,
.btn_white-brdr {
  -webkit-transition-property: background-position, color;
  -o-transition-property: background-position, color;
  transition-property: background-position, color;
  -webkit-transition-timing-function: ease-in-out, ease-in;
  -o-transition-timing-function: ease-in-out, ease-in;
  transition-timing-function: ease-in-out, ease-in;
  -webkit-transition-duration: .3s, .3s;
  -o-transition-duration: .3s, .3s;
  transition-duration: .3s, .3s; }

.ba-header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; }

.ba-header-top {
  background-color: #4e4e4e;
  height: 2em;
  display: flex;
  align-items: center; }
  .ba-header-top-contacts {
    color: #fff; }
    .ba-header-top-contacts__link {
      padding-left: 10px;
      color: inherit;
      text-decoration: none; }
  .ba-header-top-user {
    color: black;
    display: flex;
    justify-content: space-between; }
  .ba-header-top .ba-search-form {
    display: flex; }
    .ba-header-top .ba-search-form__input {
      display: none; }
      @media screen and (min-width: 768px) {
        .ba-header-top .ba-search-form__input {
          display: flex; } }

@media screen and (min-width: 768px) {
  .ba-header-main .mobile-menu-btn {
    display: none; } }

.ba-header-main-logo {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .ba-header-main-logo {
      justify-content: flex-start; } }
  .ba-header-main-logo img {
    width: 6rem; }

.ba-header-main-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .ba-header-main-wrapper {
      flex-wrap: nowrap; } }

.ba-header-main-nav {
  width: 100%;
  order: 3; }
  @media screen and (min-width: 768px) {
    .ba-header-main-nav {
      display: flex;
      order: 0; } }
  .ba-header-main-nav .ba-menu {
    display: none;
    margin: 0;
    position: relative;
    padding: 0; }
    .ba-header-main-nav .ba-menu--active {
      display: block; }
    @media screen and (min-width: 768px) {
      .ba-header-main-nav .ba-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%; } }
    .ba-header-main-nav .ba-menu-item {
      display: flex;
      justify-content: flex-start; }
      @media screen and (min-width: 768px) {
        .ba-header-main-nav .ba-menu-item {
          padding: 10px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center; } }
      .ba-header-main-nav .ba-menu-item a {
        padding: 5px; }
        @media screen and (min-width: 768px) {
          .ba-header-main-nav .ba-menu-item a {
            padding: 10px 15px; } }
    .ba-header-main-nav .ba-menu__link {
      font-weight: 900;
      color: #4e4e4e;
      text-decoration: none;
      position: relative; }
      .ba-header-main-nav .ba-menu__link:hover {
        background-color: #fd926d; }

.shopping {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; }
  .shopping img {
    width: 2rem; }
  .shopping-favorites {
    position: relative; }
  .shopping-cart {
    position: relative; }
  .shopping-counter {
    position: absolute;
    right: -10px;
    height: 16px;
    border-radius: 8px;
    padding: 0 8px;
    background-color: #fd926d;
    color: #fff;
    font-size: 12px;
    line-height: 16px; }

.ba-slider1 {
  display: flex; }
  .ba-slider1 img {
    width: 100%; }

.breadcrumbs {
  display: flex;
  border-top: solid 1px #4e4e4e;
  border-bottom: solid 1px #4e4e4e; }
  .breadcrumbs-nav {
    display: flex;
    list-style: none;
    margin: 0.1rem; }
    @media screen and (min-width: 768px) {
      .breadcrumbs-nav {
        margin: 1rem; } }
    .breadcrumbs-nav-item a {
      text-decoration: none;
      color: #4e4e4e; }

.category-list {
  list-style: none; }
  .category-list a {
    text-decoration: none;
    color: #4e4e4e; }

.subscribe {
  display: flex;
  background-color: #ededed;
  color: #6c6c6c; }
  .subscribe-mail {
    display: flex;
    justify-content: center; }
    .subscribe-mail__input {
      width: 100%; }
    .subscribe-mail span {
      display: none; }
      @media screen and (min-width: 768px) {
        .subscribe-mail span {
          display: flex;
          align-items: center; } }
  .subscribe .ba-social {
    display: flex;
    justify-content: flex-end; }
    .subscribe .ba-social-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .subscribe .ba-social__items {
      color: #6c6c6c;
      padding: 1rem; }
      .subscribe .ba-social__items:hover {
        background-color: #fd926d; }

.subscribe .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .subscribe .container {
      flex-wrap: nowrap; } }

.goods-woman-wrapper {
  display: flex; }

.goods-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px auto 0;
  padding-bottom: 10px; }

.card {
  background-color: #f7f7f7;
  position: relative;
  border-bottom: 3px solid transparent; }
  @media screen and (min-width: 768px) {
    .card {
      width: auto; } }
  .card-img-wrapper {
    cursor: pointer; }
    .card-img-wrapper img {
      width: 100%; }
  .card-add-wishlist {
    position: absolute;
    right: 0;
    background: transparent;
    border: 0;
    opacity: 0;
    top: 10px; }
    .card-add-wishlist-heart:hover {
      color: #fd926d; }
  .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .card-body-brand {
      color: #4e4e4e;
      font-weight: 900;
      text-transform: capitalize; }
    .card-body-title {
      text-decoration: none;
      color: #4e4e4e; }
    .card-body-price {
      color: #4e4e4e; }
  .card-add-cart {
    justify-content: center;
    align-items: center;
    opacity: 1; }
  .card:hover {
    transform: scale(1.03);
    transition: .7s;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .card:hover .card-add-wishlist {
    transition: .7s;
    opacity: 1; }
  .card:hover .card-add-cart {
    transition: .7s;
    opacity: 1;
    display: flex; }

.active {
  opacity: 1;
  color: #fd926d; }

.ba-baners {
  display: none;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .ba-baners {
      display: block; } }
  .ba-baners-row {
    padding: 0;
    margin: 0; }
  .ba-baners img {
    width: 100%; }

.ba-brands .container {
  display: none; }
  @media screen and (min-width: 768px) {
    .ba-brands .container {
      display: flex;
      align-items: center;
      justify-content: space-between; } }

.ba-footer {
  background-color: #4e4e4e; }
  .ba-footer .container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.cart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 130; }
  .cart-body {
    position: relative;
    margin: auto;
    width: 1024px;
    min-height: 200px;
    max-height: 80vh;
    background-color: #fff;
    padding: 25px;
    overflow: auto;
    border-radius: 3px; }
  .cart-title {
    font-size: 28px;
    color: #4d5f71; }
  .cart-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;
    background-color: #f2f2f2;
    border: 1px solid #4d5f713f;
    border-radius: 3px;
    padding: 20px; }
    .cart-wrapper #cart-empty {
      font-size: 24px;
      color: #4d5f71; }
  .cart-head {
    display: flex;
    justify-content: space-between; }
  .cart-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='005bff' d='M12 10.587l6.293-6.294a1 1 0 111.414 1.414l-6.293 6.295 6.293 6.294a1 1 0 11-1.414 1.414L12 13.416 5.707 19.71a1 1 0 01-1.414-1.414l6.293-6.294-6.293-6.295a1 1 0 011.414-1.414L12 10.587z'/%3E%3C/svg%3E"); }
    .cart-close:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .cart-total {
    font-size: 28px; }
    .cart-total span {
      color: #077c24; }
  .cart-confirm {
    display: block;
    margin-left: auto; }
  .cart .goods {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px; }
    .cart .goods-img {
      max-width: 120px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
      .cart .goods-img-wrapper {
        flex-basis: 120px; }
    .cart .goods-description {
      padding: 10px;
      flex-grow: 1; }
    .cart .goods-title {
      font-size: 16px; }
    .cart .goods-price-count {
      padding-right: 10px; }
    .cart .goods-trigger {
      display: flex;
      justify-content: center; }
    .cart .goods-add-wishlist {
      width: 32px;
      height: 32px;
      background-color: transparent;
      background-position: 4px -2589px;
      border-radius: 50%;
      text-align: center;
      line-height: 32px;
      border: none; }
      .cart .goods-add-wishlist.active {
        background-position: 4px -2633px; }
    .cart .goods-delete {
      width: 32px;
      height: 32px;
      background-color: transparent;
      background-position: 8px -1865px;
      border-radius: 50%;
      text-align: center;
      line-height: 32px;
      border: none; }
    .cart .goods-count {
      display: flex;
      justify-content: center; }
    .cart .goods-count-total {
      width: 32px; }

.map-section .container {
  display: flex; }

.ba-section6-map {
  height: 600px; }

.btn {
  text-decoration: none;
  background: #fd926d;
  color: #fff;
  padding: 0 1em;
  border: none; }
  .btn:hover {
    background-color: pink;
    border-color: #fc5a22; }

.loader-four {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin: 20px 0; }

.loader-four__preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.loader-four__preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

.loader-four__preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
