.ba-header-top {
  background-color: #000; }

.ba-header-top .container {
  display: flex;
  justify-content: space-around;
  color: #fff; }
  .ba-header-top .container .user {
    display: flex;
    justify-content: space-between; }

.ba-header-main .container {
  display: flex;
  align-items: center; }

.ba-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }
  .ba-menu__link {
    color: inherit;
    text-decoration: none; }

.subscribe {
  background-color: #ededed;
  color: #6c6c6c; }

.subscribe .container {
  display: flex;
  justify-content: space-between; }
  .subscribe .container .ba-social {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .subscribe .container .ba-social__items {
      color: inherit; }

.goods-wrapper {
  display: flex;
  justify-content: space-between;
  background: #fd926d;
  margin: 25px auto 0;
  padding-bottom: 10px; }

.card {
  background-color: #f7f7f7; }

.ba-brands .container {
  display: flex;
  justify-content: space-between; }

.ba-footer {
  background-color: #000; }
  .ba-footer .container {
    color: #fff;
    display: flex;
    justify-content: space-between; }
